<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Update Meter</title>
		
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-alerts/bootstrap-alerts.min.js">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

		<script>
				function generateprogramename(){
					var met_name = document.getElementById("meter_name").value;
					var mdl_name = document.getElementById("model_name").value;
					document.getElementById("modelprogramname").value = met_name + "_" + mdl_name + ".go"
				}
		</script>

	</head>
	<body>
		
		<div class="container">
		
			<h3>Add New Meter</h3>
			<hr/>
			
			<form th:action="@{/saveMeter}" th:object="${meter}" method="POST" >

				<table width="80%">
					<tbody>
						<tr>
							<td valign="top" width="250px"><label>Meter Name </label></td>
							<td valign="middle" width="1000px"><input width="800px" id="meter_name" type="text" th:field="*{mbName}" class="form-control col-4 mb-4" placeholder="Meter Name" onkeyup = "generateprogramename()" /></td>
						</tr>

						<tr>
							<td valign="top"><label>Manufacturer Name</label></td>
							<td valign="middle"><input type="text" th:field="*{mbManuName}" class="form-control col-4 mb-4" placeholder="Manufacturer" /></td>
						</tr>

						<tr>
							<td valign="top"><label>Model</label></td>
							<td valign="middle"><input id="model_name" type="text" th:field="*{mbModel}" class="form-control col-4 mb-4" placeholder="Model" onkeyup = "generateprogramename()" /></td>
						</tr>

						<tr>
							<td valign="top"><label>Model Program Name</label></td>
							<td valign="middle"><input id="modelprogramname" type="text" th:field="*{mbModelPrgname}" class="form-control col-4 mb-4" placeholder="Model Program Name" /></td>
						</tr>

						<tr>
							<td valign="top"><label>Meter Serial Number</label></td>
							<td valign="middle"><input type="text" th:field="*{mbMeternumber}" class="form-control col-4 mb-4" placeholder="Meter Number" /></td>
						</tr>

						<tr>
							<td valign="top"><label>Description</label></td>
							<td valign="middle"><input type="text" th:field="*{mbMeterDesc}" class="form-control col-4 mb-4" placeholder = "Description" /></td>
						</tr>

						<tr>
							<td valign="top"><label>Meter Status</label></td>
							<td><Select th:field="*{mbMeterStatus}" class="form-control col-4 mb-4">
									<option th:each="sList: ${status}" th:text = "${sList}" th:value = "${sList}" />
								</Select>
							</td>
						</tr>
					</tbody>

				</table>

				<br><br>

				<button type="submit" class="btn btn-primary col-2">Save</button>

				<input type="hidden" th:field="*{mbId}" />

				<div th:if = "${session.message}" class="container">
						<div th:classappend = "${'alert-' + session.message.type}" role="alert">
								<span th:text="${session.message.content}"></span>
						</div>
				</div>

			</form>
			<hr/>
			<a th:href="@{/showmeters}">Back to list</a>
		</div>
		
	</body>
</html>