<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Add Raspberry</title>
		
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-alerts/bootstrap-alerts.min.js">

	</head>
	<body>
		
		<div class="container">
		
			<h3>Add New Raspberry</h3>
			<hr/>
			
			<form th:action="@{/saveRasp}" th:object="${rasp}" method="POST">

				<table width="40%">
					<tbody>
							<tr>
								<td><label>MAC Id</label></td>
								<td><input type="text" th:field="*{rbMacid}" class="form-control col-15 mb-4" placeholder="MAC Id" /></td>
							</tr>
							<tr>
								<td><label>Manufacturer</label></td>
								<td><input type="text" th:field="*{rbManuName}" class="form-control col-15 mb-4" placeholder="Manufacturer" /></td>
							</tr>
							<tr>
								<td><label>Model</label></td>
								<td><input type="text" th:field="*{rbModel}" class="form-control col-15 mb-4" placeholder="Model" /></td>
							</tr>
							<tr>
								<td><label>Connection Structure</label></td>
								<td><input type="text" th:field="*{rbConnectionStrut}" class="form-control col-15 mb-4" placeholder="Connection Structure" /></td>
							</tr>
							<tr>
								<td><label>OS Version</label></td>
								<td><input type="text" th:field="*{rbOSVer}" class="form-control col-15 mb-4" placeholder="OS Version" /></td>
							</tr>
							<tr>
								<td><label>Description</label></td>
								<td><input type="text" th:field="*{rbDesc}" class="form-control col-15 mb-4" placeholder = "Description" /></td>
							</tr>
							<tr>
								<td><label>Status</label></td>
								<td><Select th:field="*{rbActiveStatus}" class="form-control col-15 mb-4">
									<option th:each="sList: ${status}" th:text = "${sList}" th:value = "${sList}" />
									</Select>
								</td>
							</tr>
					</tbody>
				</table>

				<button type="submit" class="btn btn-primary col-2">Save</button>

				<br><br>

				<input type="hidden" th:field="*{rbId}" />

				<div th:if = "${session.message}" class="container">
					<div th:classappend = "${'alert-' + session.message.type}" role="alert">
						<span th:text="${session.message.content}"></span>
					</div>
				</div>
				
			</form>
			<hr/>
			<a th:href="@{/showrasp}">Back to list</a>
		</div>
		
	</body>
</html>