<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-alerts/bootstrap-alerts.min.js">

    <script>
		    function incrCount(){
				var rowCount = rowCount + 1;
				alert (rowCount);
				return rowcount;
			}
	</script>


</head>

<body>
        <div class="container" th:with="rowCount=0">
            <h2>Meters List</h2>

            <hr/>
            <a th:href="@{/addMeterForm}" class="btn btn-primary">Add Meter</a>
            <a th:href="@{/home}" class="btn btn-primary">Home</a>
            <br/><br/>
            <table class="table table-bordered table-striped">
                <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Meter Name</th>
                            <th>Manufacturer</th>
                            <th>Model Name</th>
                            <th>Model Program</th>
                            <th>Meter Number</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Created Date</th>
                            <th>Created By</th>
                            <th align="center" width="25px">Action</th>
                        </tr>
                </thead>
                <tbody>

                        <tr th:each="meterlist, trow : ${meter}">
                            <td th:text= "${trow.count}" ></td>
                            <td th:text= "${meterlist.mbName}"></td>
                            <td th:text= "${meterlist.mbManuName}"></td>
                            <td th:text= "${meterlist.mbModel}"></td>
                            <td th:text= "${meterlist.mbModelPrgname}"></td>
                            <td th:text= "${meterlist.mbMeternumber}"></td>
                            <td th:text= "${meterlist.mbMeterDesc}"></td>
                            <td th:text= "${meterlist.mbMeterStatus}"></td>
                            <td th:text= "${meterlist.createdDate}"></td>
                            <td th:text= "${meterlist.createdUser}"></td>
                            <td>
                                <a th:href="@{/showMeterUpdateForm(mbId=${meterlist.mbId})}" title = "Update" ><i class="bi bi-pencil-square"></i></a>
                                <a th:href="@{/deleteMeter(mbId=${meterlist.mbId})}" title = "Delete" style="color: #d00b32;"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
</body>
</html>